apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: spin
    app.kubernetes.io/name: kubesvc
    app.kubernetes.io/part-of: spinnaker
    cluster: spin-kubesvc
  name: spin-kubesvc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spin
      cluster: spin-kubesvc
  template:
    metadata:
      labels:
        app: spin
        app.kubernetes.io/name: kubesvc
        app.kubernetes.io/part-of: spinnaker
        cluster: spin-kubesvc
    spec:
      # imagePullSecrets:
      # - name: regcred
      containers:
      - env:
        - name: GRPC_GO_LOG_SEVERITY_LEVEL
          value: INFO
        - name: GRPC_GO_LOG_VERBOSITY_LEVEL
          value: "9999"
        image: armory/kubesvc
        imagePullPolicy: IfNotPresent
        name: kubesvc
        ports:
          - name: health
            containerPort: 8082
            protocol: TCP
          - name: metrics
            containerPort: 8008
            protocol: TCP
        readinessProbe:
          httpGet:
            port: health
            path: /health
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /opt/spinnaker/config
          name: volume-kubesvc-config
        # - mountPath: /kubeconfigfiles
        #   name: volume-kubesvc-kubeconfigs
        - mountPath: /opt/kubesvc/cert
          name: armoryagent-cert
        - mountPath: /etc/ssl/cert.pem
          name: clouddrivercacert
          subPath: cert.pem
        resources:
          limits:
            cpu: 1000m
            memory: 1Gi
          requests:
            cpu: 200m
            memory: 500Mi
      serviceAccount: kubesvc
      restartPolicy: Always
      volumes:
      - name: volume-kubesvc-config
        configMap:
          name: kubesvc-config
      - name: armoryagent-cert
        secret:
          secretName: armoryagent-cert
      - name: clouddrivercacert
        secret:
          secretName: clouddrivercacert
      # - name: volume-kubesvc-kubeconfigs
      #   secret:
      #     defaultMode: 420
      #     secretName: kubeconfigs-secret
---
apiVersion: v1
kind: Service
metadata:
  name: kubesvc-metrics
  labels:
    app: spin
    cluster: spin-kubesvc
spec:
  ports:
  - name: metrics
    port: 8008
    targetPort: metrics
    protocol: TCP
  selector:
    app: spin
    cluster: spin-kubesvc
